@value makerBlue from '../../common/colors.css';
.container {
  width: 100%;
  text-align: center;
  background-color: makerBlue;
}
.footerText {
  color: white;
  font-size: 1rem;
  justify-content: center;
  padding: 2rem;
  margin: 0;
}
