@value makerBlue from '../../common/colors.css';
.preview {
  background-color: lightpink;
  flex-basis: 50%;
}
.borderBottom {
  width: 10rem;
  hegiht: 1rem;
  color: background-white;
}
.previewTitle {
  margin: 1rem 2rem;
  font-family: helvetica;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: white;
  font-style: italic;
  text-shadow: -1px -1px 0 makerBlue, 1px -1px 0 makerBlue, -1px 1px 0 makerBlue,
    1px 1px 0 makerBlue;
}
