@value makerLightBlue, makerLightGrey, makerColorful, makerWhite from '../../common/colors.css';
.editor {
  background-color: makerLightGrey;
  flex-basis: 50%;
  border-right: 1px dotted makerWhite;
}
.editorTitle {
  box-sizing: border-box;
  width: 100%;
  background-color: makerWhite;
  -webkit-box-shadow: inset 0px 0px 0px 1px makerLightBlue;
  -moz-box-shadow: inset 0px 0px 0px 1px makerLightBlue;
  box-shadow: inset 0px 0px 0px 1px makerLightBlue;
  padding: 1rem 2rem;
  margin: 0 0 0.5rem;
  font-family: helvetica;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: makerLightBlue;
  font-style: italic;
}
