@value makerLightBlue, makerLightGrey, makerColorful, makerWhite from '../../common/colors.css';
.editor {
  background-color: makerLightGrey;
  flex-basis: 50%;
}
.editorTitle {
  background-color: makerWhite;
  border: 1px solid makerLightBlue;
  padding: 1rem 2rem;
  margin: 0 0 0.5rem;
  font-family: helvetica;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: makerLightBlue;
  font-style: italic;
  text-shadow: -1px -1px 0 makerBlue, 1px -1px 0 makerBlue, -1px 1px 0 makerBlue,
    1px 1px 0 makerBlue;
}
