@value makerLightGrey import from '../../common/colors.css';
body {
  background-color: makerLightGrey;
}
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
