@value makerWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';
.maker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1; /*중간에 여백 가득 채울 수 있게 함 + 부모의 height:100%와 엮여서*/
  display: flex;
}
.editor {
  border-right: 1px solid makerWhite;
}
@media screen and (max-width: mediaQuery) {
  .content {
    flex-direction: column;
  }
}
