@value makerWhite,makerBlue from '../../common/colors.css';

.header {
  background: makerWhite;
  width: 100%;
  position: relative;
  border-radius: 20px 20px 0 0;
}
.logoImg {
  width: 2rem;
  postion: absolute;
  top: 1rem;
  left: 3rem;
}
.logoTitle {
  color: makerBlue;
  margin: 0;
  padding: 0.5rem 0 0.7rem 0;
}
.logout {
  top: 1rem;
  right: 2rem;
  position: absolute;
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
  border: none;
  color: makerWhite;
  font-size: 0.7rem;
  background-color: makerBlue;
  cursor: pointer;
  transition: transform 100ms ease-in;
}
.logout:hover {
  transform: scale(1.03);
}
