@value makerWhite,makerBlue,makerLightBlue from '../../common/colors.css';

.header {
  background: makerWhite;
  width: 100%;
  position: relative;
  border-radius: 20px 20px 0 0;
}
.logoImg {
  width: 2rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logoTitle {
  color: makerBlue;
  margin: 0;
  padding: 0 1rem 0 0;
}
.logout {
  top: 1rem;
  right: 1rem;
  position: absolute;
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  border: none;
  color: makerWhite;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: makerLightBlue;
  cursor: pointer;
  transition: transform 100ms ease-in;
}
.logout:hover {
  transform: scale(1.03);
}
