/*@value makerGreen from 'src\common\colors.css';*/

.header {
  background: rgb(248, 187, 208);
  background: linear-gradient(
    180deg,
    rgba(248, 187, 208, 1) 28%,
    rgba(255, 238, 255, 1) 83%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  text-align: center;
}
.logoImg {
  width: 5rem;
}
.logoTitle {
  color: white;
  margin: 0;
  padding: 0.5rem 0 0.7rem 0;
}
