@value makerGreen from '../../common/colors.css';

.header {
  background: makerGreen;
  width: 100%;
  text-align: center;
}
.logoImg {
  width: 5rem;
}
.logoTitle {
  color: white;
  margin: 0;
  padding: 0.5rem 0 0.7rem 0;
}
