.container {
  width: 100%;
  text-align: center;
}
.loginContent {
  height: 50vh;
}
.loginTitle {
  font-size: 2rem;
  color: rgba(248, 187, 208, 1);
}
.loginBtnList {
  list-style: none;
  padding: 0;
}
.button {
  background: rgb(248, 187, 208);
  background: linear-gradient(
    146deg,
    rgba(248, 187, 208, 1) 41%,
    rgba(255, 169, 229, 1) 69%,
    rgba(255, 142, 221, 1) 93%
  );
  border: 0;
  color: white;
  width: 15rem;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 9px 8px 8px -2px rgba(0, 0, 0, 0.21);
  box-shadow: 9px 8px 8px -2px rgba(0, 0, 0, 0.21);
}
