@value makerWhite, makerBlue ,makerColorful from '../../common/colors.css';
.container {
  width: 40%;
  text-align: center;
}
.loginTitle {
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0 1.3rem 0;
  color: makerWhite;
}
.loginContent {
  background-color: makerBlue;
  height: 40vh;
}
.loginBtnList {
  list-style: none;
  padding: 0;
}
.button {
  background: makerColorful;
  border: 0;
  color: white;
  width: 13rem;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.02);
}
