.container {
  width: 100%;
  text-align: center;
}
.loginBtnList {
  list-style: none;
  padding: 0;
}
.button {
  background-color: transparent;
  border: 1px solid grey;
  font-size: 2rem;
  padding: 1rem;
}
