@value makerWhite, makerBlue ,makerColorful from '../../common/colors.css';
.container {
  width: 40%;
  text-align: center;
}
.loginTitle {
  font-size: 2rem;
  margin: 0;
  padding: 2rem;
  color: makerBlue;
}
.loginContent {
  background-color: makerWhite;
  height: 40vh;
}
.loginBtnList {
  list-style: none;
  padding: 0;
}
.button {
  background: makerColorful;
  border: 0;
  color: white;
  width: 13rem;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 9px 8px 8px -2px rgba(0, 0, 0, 0.21);
  box-shadow: 9px 8px 8px -2px rgba(0, 0, 0, 0.21);
}
.button:hover {
  transform: scale(1.02);
}
