.container {
  width: 100%;
  text-align: center;
}
.loginBtnList {
  list-style: none;
  padding: 0;
}
.button {
  background-color: rgb(248, 187, 208);
  border: 0;
  color: white;
  width: 15rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
