.bookInfo {
  width: 100%;
  display: flex;
  flex: 1 1 30%;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info input {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
}
