@value makerBlue, makerWhite from '../../common/colors.css';
.cardEdit {
  padding: 0.5rem;
  background-color: makerWhite;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 95%;
}
.bookInfo {
  width: 100%;
  display: flex;
  flex: 1 1 30%;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.infoText {
  font-size: 0.8rem;
  padding: 0.2rem;
  font-weight: 600;
  color: makerBlue;
}
.infoInput {
  width: 98%;
  height: 1.5rem;
  font-size: 1rem;
  margin-right: 2%;
}
.bookCardThemeAndRate {
  width: 100%;
  display: flex;
  flex: 1 1 50%;
  margin-top: 0.5rem;
}
.cardTheme {
  width: 100%;
  font-size: 1rem;
}
.bookRate {
  width: 100%;
  font-size: 1rem;
}
.bookReview {
  margin-top: 0.5rem;
}
.beforeReading,
.afterReading {
  display: flex;
  flex-direction: column;
}
.beforeReading > textarea,
.afterReading > textarea {
  height: 5rem;
}
