@value makerBlue from '../../common/colors.css';
.bookInfo {
  width: 100%;
  display: flex;
  flex: 1 1 30%;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.infoText {
  font-size: 0.8rem;
  padding: 0.2rem;
  font-weight: 600;
  color: makerBlue;
}
.infoInput {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
}
