@value makerBlack: black;
@value makerWhite: white;
@value makerLightGrey: #e8e7e6;
@value makerLightPink: #ffeae8;
@value makerGrey: #626262;
@value makerBlue: #3f51b5;
@value makerLightBlue: #757de8;
@value makerSuperLightBlue: #90caf9;
@value makerPink: pink;
@value makerLightPink: #ef9a9a;
@value makerShadow: rgba(217, 217, 217, 1);
@value makerColorful:linear-gradient(146deg, rgba(117,125,232,1) 41%, rgba(142,206,255,1) 93%);
@value makerWheat: wheat;
