@value makerWhite, makerLightPink, makerWheat, makerGrey, makerColorful, makerBlack from '../../common/colors.css';
.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  width: 95%;
}
.card.light {
  background-color: makerWheat;
}
.card.dark {
  background-color: makerGrey;
  color: makerWhite;
}
.card.pink {
  background-color: makerLightPink;
  color: makerWhite;
}
.title {
  margin: 0 0 0 1rem;
}
.content {
  display: flex;
}
.bookInfo {
  margin: 1rem;
  width: 23%;
}
.thumbnailImage {
  width: 77%;
  background-color: makerWhite;
  padding: 0.5rem;
  border-radius: 5px;
}
.author,
.publisher {
  margin: 0.5rem 1rem 0.5rem 0.3rem;
  font-weight: 600;
}
.publisher {
  font-size: 0.7rem;
}
.starRate {
  font-size: 0.8rem;
}
.bookLog {
  width: 80%;
}
.readingHeader {
  margin: 1rem 0 0.5rem 0;
}
.beforeReading,
.afterReading {
  margin: 0;
  width: 90%;
  padding: 0.5rem;
  background-color: makerWhite;
  border-radius: 5px;
  color: makerBlack;
  font-size: 0.9rem;
}
