@value makerBlue, makerWhite, makerGrey, makerPink from '../../common/colors.css';
.input {
  display: none;
}
.container {
  flex: 1 1 50%;
  justify-content: center;
}
.imageButton {
  width: 100%;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.4rem;
  border: none;
  border-radius: 2px;
  background-color: makerWhite;
  color: makerBlue;
  box-sizing: border-box;
  height: 100%;
  border: 0.5px solid makerBlue;
}
.imageButton:hover {
  background-color: makerBlue;
  color: white;
  opacity: 0.3;
}
.loading {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 5px solid makerGrey;
  border-top: 5px solid makerPink;
}
