@value makerBlue, makerWhite from '../../common/colors.css';
.imageButton {
  flex: 1 1 50%;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.4rem;
  border: none;
  border-radius: 2px;
  background-color: makerBlue;
  color: white;
}
.imageButton:hover {
  opacity: 0.8;
}
