@value makerBlue, makerWhite from '../../common/colors.css';
.input {
  display: none;
}
.container {
  flex: 1 1 50%;
}
.imageButton {
  width: 100%;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.4rem;
  border: none;
  border-radius: 2px;
  background-color: makerWhite;
  color: makerBlue;
  box-sizing: border-box;
  height: 100%;
  border: 0.5px solid makerBlue;
}
.imageButton:hover {
  background-color: makerBlue;
  color: white;
  opacity: 0.3;
}
